    <div class="container">
      <div class="mt-4">

        <h1>メールマガジン編集</h1>
    
        <%= form_with(model: @newsletter, local: true) do |f| %>
          <div class="form-group">
            <%= f.text_field :title, placeholder: 'タイトルを入力', class: 'form-control' %>
            <%= f.text_area :content, :size => "80x20", placeholder: 'お知らせを入力', class: 'form-control mt-3'  %>
          </div>
          <div class="text-center mb-5">
            <%= f.submit '更新する', class: 'btn btn-primary' %>
          </div>
        <% end %>

      </div>
    </div>