<div class="container mb-5">
  <% breadcrumb :mail_magazine, @newsletter %>
    <%= render "layouts/breadcrumbs" %>

    <h5><div class="bb bold mt-3">
      <%= @newsletter.title %>
    </div></h5>
    
    <div class="mt-3">
      <%= simple_format(@newsletter.content) %>
    </div>
    
</div>