<div class="container-fluid mb-5">
  <% breadcrumb :payment %>
    <%= render "layouts/breadcrumbs" %>

  <div class="bb mt-3"><h5><span class="bold">支払い管理</span></h5></div>
  
  <div class="mt-3">
    現在、ココメロではクレジットカード登録の必要無く、全ての機能を無料にてご利用いただけます！
  </div>
  
</div>