  <div class="container mb-5">
    
    <div class="mt-4 h3 bold">
      よくある質問
    </div>
    
    <div class="faq mt-4">
      会員登録は無料ですか？
    </div>
      <div class="mt-2">
        はい、Cocomeloは"共通の目的"を持った人達をつなぐソーシャルコミュニティサイトです。<%= link_to "【会員登録する】", signup_path, :style => "color:hotpink;" %>
      </div>
      
    <div class="faq mt-4">
      料金体系はどのようになっていますか？
    </div>
      <div class="mt-2">
        "共通の目的"を持った人同士がマッチングされた場合にのみ、利用事務手数料として500円/1回が発生します。</br>
        月額料金などその他費用は無料となっています。</br>
        <span style="color:red;">※今なら利用事務手数料(500円/1回)が無料キャンペーン中！ココメロの利用に一切費用はかかりません!!</span>
      </div>
      
    <div class="faq mt-4">
        支払いはいつ発生しますか？
      </div>
      <div class="mt-2">
        クレジットカード決済の場合は、参加イベントの開始日時を迎えた時点で決済されます。</br>
        コンビニ決済の場合は、参加イベントの開始日時を迎えた時点で支払い手順についてのメールが送られますので、メール内の指示に従って期限内にお支払いください。
      </div>
      
    <div class="faq mt-4">
        どのような支払い方法がありますか？
      </div>
      <div class="mt-2">
        「カード決済」(クレジットカード引き落とし)と、「コンビニ決済」(コンビニでのお支払い)が選択可能です。</br>
        クレジットカードは、VISA、MasterCard、Dinersがご利用いただけます。
      </div>
      
      <div class="faq mt-4">
        メールアドレスの変更はどのように行えばいいですか？
      </div>
      <div class="mt-2">
        マイページの【アカウント情報変更】よりメールアドレスとパスワードの変更が可能です。
      </div>
      
      <div class="faq mt-4">
        パスワードを忘れた場合は？
      </div>
      <div class="mt-2">
        パスワードをお忘れの際は、ログイン画面下部にある【パスワードを忘れた方はこちら】よりパスワードの再発行を行ってください。
      </div>

      <div class="faq mt-4">
        お気に入りってどんな機能？
      </div>
      <div class="mt-2">
        イベントホストが投稿したイベントをお気に入りに登録する事で、マイページの[お気に入り]からいつでもそのイベントを見る事が可能になります。<br>
        お気に入り登録するには、イベントページにある「ハートのマーク」をクリックしてください。<br>
        お気に入りを解除したい場合は再度「ハートのマーク」をクリックするすることで、お気に入りが解除されます。<br>
        お気に入りは会員登録するとご利用頂ける機能になります。
      </div>
      
      <div class="faq mt-4">
        Cocomeloを退会するには？
      </div>
      <div class="mt-2">
        こちらの<%= link_to "【退会する】", quit_path, :style => "color:hotpink;" %>より退会申請を行ってください。完全にアカウントが削除されるまで最大48時間かかります。
      </div>
      
      <div class="faq mt-4">
        その他のご質問に関して
      </div>
      <div class="mt-2">
        お気軽に下記お問い合わせフォームよりお問い合わせください。<br>
        <%= link_to "【お問い合わせ】", contact_path, :style => "color:hotpink;" %>
      </div>

  </div>