<div class="container mb-5">
  <div class="mt-3">
    
    <div class="text-center topic_img">
      <%= image_tag "topic.jpg" %>
    </div>
    
    <div class="topic_txt mt-3">
      <p class="topic_text">
        ココメロβ版のリリースを記念して、今なら利用事務手数料が0円(無料)のキャンペーンを行っています♪<br>
        現在ココメロのご利用に一切の費用はかからず全て無料でご利用していただけます☺<br>
        <br>
        また、サービスを開始したばかりの為、マッチング成立の確立が低くなってしまう可能性がある事をご容赦ください。<br>
        どうぞCocomelo【ココメロ】をよろしくお願いいたします♪
      </p>
    </div>
    
  </div>
</div>