  <div class="container mb-5">
    <div class="mt-4 h3">
      Cocomelo利用規約
    </div>
    <div class="medium">
      Cocomeloをご利用の際には、「Cocomelo利用規約」が適用されますので、本サービスをお使いのお客様は必ず下記の内容を事前にお読みいただきますようお願い申し上げます。
    </div>
    
    <div class="bold mt-3">【第1条 総則】</div>
    <div class="medium mt-1">
      1.Cocomelo利用規約（以下、「本規約」といいます）は、当社と、本サービスを利用するすべての方（以下、「ユーザー」といいます）との間の一切の関係に適用（以下「本利用契約」といいます。）するものとします。<br>
      2.ユーザーは本規約に同意の上、本サービスを利用するものとみなされます。<br>
      3.当社は本規約を、ユーザーへの予告なしに改訂できるものとします。変更後の本規約は、過去の規約に優先して適用されるものとし、本サービス上に掲載した時点をもって効力を生じるものとします。変更後の本サービスの利用により、利用者は変更後の規約に同意したものとみなされます。
    </div>
    <div class="bold mt-3">【第2条 定義】</div>
    <div class="medium mt-1">
      (1)「本サービス」とは、インターネットサービスである「Cocomelo（ココメロ）」のことを指します。<br>
      (2)「ユーザー」とは、本サービスを利用するすべての者のことを指します。<br>
      (3)「会員」とは、本サービスに会員登録をした者のことを指します。<br>
      (4)「会員情報」とは、会員が登録した、メールアドレス、ユーザー名、プロフィールなどのすべての情報を指します。<br>
      (5)「コンテンツ」とは、「イベント」その他のテキスト、スポット情報、画像、音声、動画、プログラムなどの本サービス上のあらゆる情報（当社あるいはユーザーより提供されたものであるかを問わない）を指します。<br>
      (6)「投稿」とは、本サービスの投稿フォームを通じてコンテンツをアップロードすることを指します。<br>
    </div>
    <div class="bold mt-3">【第3条 本規約への同意】</div>
    <div class="medium mt-1">
      1. ユーザーは、本規約の定めに従って本サービスを利用しなければならず、本規約に同意しない限り本サービスを利用することができません。<br>
      2. 年齢が18歳未満の方は、本サービスを利用することができません。<br>
      3. 年齢が18歳以上20歳未満の方は、法定代理人の同意が必要ですので、本サービスの登録時点及び本サービス内の有料サービスをご利用の場合には、都度必ずご両親の同意を得てください。
    </div>
    <div class="bold mt-3">【第4条 規約の変更】</div>
    <div class="medium mt-1">
      1. 当社は、当社の裁量で、いつでも本規約の内容を変更又は追加することができるものとします。変更後の利用規約は、当社が別途定める場合を除いて、本サービス上又は当社の運営するウェブサイトに掲示します。<br>
      2. ユーザーは、変更後の本規約に同意しない場合、退会手続きを行うものとします。<br>
      3. ユーザーが本規約の変更後も本サービスの利用を継続する場合、当該ユーザーは、変更後の本規約に同意したものとみなされます。なお、当社は、本規約の変更又は追加につき、各ユーザーに個別に通知することはいたしません。ユーザーは、ユーザーの責任において、随時、本規約の最新の内容を確認の上、本サービスをご利用下さい。
    </div>
    <div class="bold mt-3">【第5条 本サービスの利用目的とサービス内容】</div>
    <div class="medium mt-1">
      本サービスは、「共通の目的」を持った相手を探す支援をすることを目的としています。したがって、このようなパートナーを探す以外の目的で、本サービスをご利用することはできません。また、本サービスを、私的に使用する目的を超えて、商業的目的や違法な目的をもって利用することもできません。
    </div>
    <div class="bold mt-3">【第6条 本サービスの利用条件】</div>
    <div class="medium mt-1">
      以下に該当する者は本サービスを利用することができません。<br>
      - 前条の目的以外の目的を持っている方<br>
      - 年齢18歳未満の方<br>
      - 高校生の方<br>
      - 上記第3条規定の目的に反する目的で利用しようとする方<br>
      - 成年被後見人、被保佐人、被補助人の登録を受けている方<br>
      - 過去に本利用規約違反により解除された方若しくは本利用規約違反により警告を受けた方<br>
    </div>
    <div class="bold mt-3">【第7条 ユーザーアカウント登録】</div>
    <div class="medium mt-1">
      1. ユーザーは、本サービスを利用するために、本サービス機能に従い、自己に関する情報（以下「ユーザー登録情報」といいます。）を提供して、アカウント登録を完了させなければなりません（以下、「アカウント登録」といいます。）。<br>
      2. 1人のユーザーについて、1アカウントのみ登録することができます。アカウント登録にあたり登録するユーザー登録情報について、氏名、性別、年齢等の重要な情報だけではなく、あらゆる登録情報について虚偽の情報を入力してはなりません。<br>
      3. ユーザーは、ユーザー登録情報の誤りがあった場合、若しくは変更があった場合には、速やかにユーザー登録情報の訂正又は変更を行わなければなりません。<br>
      4. 登録されている情報が虚偽である場合、当社は、当社の裁量により、ユーザー登録情報の訂正若しくは変更するよう通知をしてユーザー登録情報の是正を促すか、若しくは即時に本利用契約を解除し、本アカウントの登録を抹消することができます。但し、当社にユーザー登録情報の真偽に関する調査義務があるとするものではありません。登録抹消後は、本サービスの機能を利用することができません。<br>
      5. 当社は、ユーザー登録情報に基づいて、本サービスのサービス提供を行います。ユーザー登録情報の内容に虚偽、誤り、又は記載漏れなどがあったことにより当該ユーザー若しくは他のユーザーに損害が生じたとしても、当社は一切責任を負いません。
    </div>
    <div class="bold mt-3">【第8条 会員登録情報の取扱い】</div>
    <div class="medium mt-1">
      当社は、会員の個人情報を当社<%= link_to "プライバシーポリシー", privacy_path, :style => "color:hotpink;" %>に従い、適切に取り扱います。
    </div>
    <div class="bold mt-3">【第9条 会員アカウントの管理】</div>
    <div class="medium mt-1">
      1. 会員は、自己の責任においてアカウントを管理及び保管してください。自己のアカウントを、第三者に使用、貸付け、譲渡し、並びに名義変更等を行ってはいけません。<br>
      2. 当社は、本サービスのサービスが利用された場合、そのサービスを利用したアカウントを保有するユーザーが、当該サービスを利用したものとみなします。<br>
      3. アカウントが盗用され、又は、第三者により使用されていることが判明した場合には、会員は、速やかに当社に通知をするものとし、当該アカウントの取扱いについては、当社の指示に従ってください。<br>
      4. アカウントの管理不十分又は第三者の使用等による損害の責任は、ユーザーが負うものとし、当社は一切の責任を負いません。
    </div>
    <div class="bold mt-3">【第10条 本サービスの利用】</div>
    <div class="medium mt-1">
      1. 本サービスの利用にあたって必要となる情報端末、ソフトウェア、通信回線その他の通信環境等は、ユーザーの費用と責任において、準備・維持をすることとします。<br>
      2. 当社は、ユーザーに対して、WEBサイト内のサービスによっては、年齢、本人確認等のため、当社の指定する公的な本人確認書類の提出を求める場合があります。その場合、ユーザーから当社の指定する公的な本人確認書類の提出が確認できなければ、当該サービスを受けられません。<br>
    </div>
    <div class="bold mt-3">【第11条 サービスプラン】</div>
    <div class="medium mt-1">
      1. 本サービス内のサービスや有償コンテンツを受けるためのサービスプランは、都度課金制となります。サービスプランの価格・料金体系や利用可能オプションなど、その詳細については、当社が別途定め、ユーザーに提示いたします。<br>
      2. サイト内で課金され、サービスプランが開始された場合、お支払された金額は返金いたしません。
    </div>
    <div class="bold mt-3">【第12条 プロフィール情報等の利用】</div>
    <div class="medium mt-1">
    1. 当社は、本サービスにおいて、会員登録情報を、以下の目的で利用します。<br>
    (1) ユーザー同士のマッチングが成立しやすくするように、他のユーザーへの登録情報の全部又は一部を提供若しくはWEBサイト内掲示板等に掲載するため<br>
    (2) 本サービス上におけるサービス提供を実行するうえでユーザー登録情報の利用が必要な場合、そのサービス提供を実行するため<br>
    (3) 本サービスの機能及びサービス提供について、ユーザーに対して必要な情報提供を行なうため<br>
    (4) 本サービスのサービス向上・機能充実のためのアンケート調査や分析を行うため<br>
    (5) 健全なWEBサイト運営を行うために必要な調査・是正を行うため<br>
    2. 当社が会員登録情報を本条に定める通りに利用することについてあらかじめ同意するものとします。
    </div>
    <div class="bold mt-3">【第13条 本サイトによる料金の支払い】</div>
    <div class="medium mt-1">
      1. ユーザーは、本サイトを通して、イベントホストが投稿したイベントにエントリーする事ができ、エントリー後イベントホストにより参加メンバーとして確定された場合にのみ参加する事ができます。<br>
      参加ユーザーにはイベント日時を経過したと同時にサービス使用料が都度課金で発生いたします。
    </div>
    <div class="bold mt-3">【第14条 イベントのキャンセル】</div>
    <div class="medium mt-1">
      1. イベントホストが当該イベントのキャンセルを行う場合、サイト内のキャンセル機能を使用してキャンセル手続きを行うものとします。<br>
      2. 前項のキャンセル手続きを行う場合、イベントにエントリーユーザーが存在する場合には、コメント欄等にキャンセルする旨を報告するものとします。<br>
      3. エントリーしたユーザーが参加キャンセルを行う場合、イベントホストにコメント欄等でその旨を報告し、エントリー解除を行う事でキャンセルされます。
    </div>
    <div class="bold mt-3">【第15条 ユーザーが本サイトに提供するコンテンツ等】</div>
    <div class="medium mt-1">
      1. ユーザーが、本サービスに投稿等により提供したコンテンツ（位置情報、画像データ、テキスト等を含みますが、これに限りません。以下「ユーザーコンテンツ」といいます。）について、ユーザーまたは当該ユーザーコンテンツの著作権者に著作権が帰属します。<br>
      2. 本サービスの保守や改良などの必要が生じた場合には、当社はユーザーが当社の管理するサーバーに保存しているデータを、本サービスの保守や改良などに必要な範囲で複製等することができるものとします。<br>
      3. ユーザーが本サービスに提供したユーザーコンテンツについて、ユーザーは当社に対して、日本の国内外で無償かつ非独占的に利用（複製、上映、公衆送信、展示、頒布、譲渡、貸与、翻訳、翻案、出版を含みます）する権利を期限の定めなく許諾（サブライセンス権を含みます）したものとみなします。ただし、ユーザー間のコメント・メッセージ内容についてはプライバシーを尊重し、本条の許諾対象には含まないものとします。<br>
      4. ユーザーは著作者人格権を行使しないものとします。<br>
      5. ユーザーが本サービスに提供したユーザーコンテンツに関わる著作権を除き、本サービスおよび本サービスに関連する一切の情報についての著作権およびその他知的財産権はすべて当社または当社に利用を許諾した権利者に帰属します。ユーザーは無断で複製、譲渡、貸与、翻訳、改変、転載、公衆送信（送信可能化を含みます）、伝送、配布、出版、営業使用等をしてはならないものとします。<br>
      6. 当社は、ユーザーコンテンツの利用を、ユーザー自身を除く、他のユーザーその他の第三者に許諾するものではなく、ユーザーは他の利用者の投稿コンテンツの権利を侵害する行為を行ってはならないものとします。また、ユーザーは投稿コンテンツをクロール等で自動的に収集、解析する行為も行ってはならないものとします。<br>
      7. 当社は、他のユーザーがユーザーコンテンツを利用したことによって利用者に生じた損害について、一切の保証をいたしません。ユーザー間のトラブルに起因して当社が賠償責任を負担することになった場合、当社は当該トラブルについて責めに帰すべき事由を有するユーザーに対して、求償できるものとします。<br>
    </div>
    <div class="bold mt-3">【第16条 禁止事項】</div>
    <div class="medium mt-1">
      本サービスの利用に関する禁止事項について、以下の通り規定します。ユーザーは本サービスの利用に関し違法な目的で本サービスを利用することのないように十分に注意をしてください。<br>
      
      1. 本サービスのユーザー情報登録等に関すること<br>
      (1) 偽名やなりすまし又は性別等の不正確な情報でアカウント登録を行うこと<br>
      (2) 商業・政治目的でアカウント登録すること<br>
      (3) 他人の写真や、他人のプロフィールを利用する等して、第三者に成りすます行為<br>
      (4) プロフィール、経歴の詐称を行うこと<br>
      
      2. 本サービスの機能・サービスの利用における禁止事項<br>
      (1) 「共通の目的」に基づく相手探し以外の目的で本サービスの機能やサービスを利用すること<br>
      (2) 差別的、侮蔑的な言動を伴う投稿やメッセージ等を行うこと<br>
      (3) 性的な表現、残虐な表現、犯罪を誘因するような表現、その他公序良俗に違反すること<br>
      (4) 他のユーザーを罵倒したり、脅迫したり、いやがらせをしたりするような投稿やメッセージを送ること<br>
      (5) 自分のアカウントを他人に使用させること<br>
      (6) 本サービスを通して得た他のユーザーの個人的な情報を相手の承諾なく第三者に公開すること<br>
      (7) 運転中や歩行中、その他不適切な状況下で、本サービスを利用すること<br>
      
      3. イベントの為に予約した施設における禁止事項<br>
      (1) 施設を正式予約した後に音信不通となること<br>
      (2) 自分のアカウントで投稿したイベント若しくはエントリーしたイベントに、相手ユーザーの同意もなく、自分に代わって他の第三者に行かせること<br>
      (3) 予約当日もしくはキャンセル可能期限を超えて予約をキャンセルすること<br>
      (4) 参加ユーザーの同意なく他ユーザーを連れて施設にいくこと<br>
      (5) 参加ユーザーの同意なく施設を変更すること<br>
      
      4. その他<br>
      (1) 本サービスを模倣して類似のサービスを開始すること<br>
      (2) 本サービスが通常意図しないバグを利用する動作、又は通常意図しない効果を及ぼす外部ツールの利用、作成又は頒布を行うこと<br>
      (3) 本サービスまたは当社サーバー等に過度の負担をかけること<br>
      (4) 本サービスを逆アセンブル、逆コンパイル、リバースエンジニアリングその他サービスのソースコードの解析を試みること<br>
      (5) 本サービスに接続しているシステムに権限なく不正にアクセスし又は当社設備に蓄積された情報を不正に書き換え、消去すること<br>
      (6) 反社会的勢力等への利益供与行為をすること<br>
      (7) 本サービスの内外を問わず、本サービス上のアカウント又はコンテンツを第三者に有償で貸与・譲渡、売買等をする行為（いわゆるリアルマネートレーディング行為）<br>
      (8) 前号に定める行為の申込みの誘引、申込み、承諾を含む一切の準備行為<br>
      (9) 当社または他のユーザー、その他の第三者に対する詐欺行為又は脅迫行為等を行うこと<br>
      (10) 法令や本規約に違反すること<br>
      (11) 本サービス上に掲示するその他禁止行為
    </div>
    <div class="bold mt-3">【第17条 違反行為に対する措置】</div>
    <div class="medium mt-1">
      1. 当社は、ユーザーが以下各号に該当し又は該当するおそれがあると当社が判断した場合には、当社の裁量により、何らの通知も行うことなく、当該ユーザーに対し、ユーザーコンテンツその他の情報の全部もしくは一部の削除、本サービスの利用の一時停止若しくは制限、アカウントの削除を含む、本利用契約の解除等の措置（以下「利用停止等」といいます。）を講じることができるものとします。<br>
      (1) 本規約のいずれかの条項に違反した場合<br>
      (2) ユーザーが死亡又は後見開始、保佐開始しくは補助開始の審判を受けたとき<br>
      (3) 18歳未満の者、成年被後見人、被保佐人又は補助人のいずれかであった場合<br>
      (4) 未成年者で法定代理人の同意を得ていなかった場合<br>
      (5) 当社からの問合わせに対し30日間以上応答がない場合<br>
      (6) 反社会的勢力等であるか、または資金提供その他を通じて反社会的勢力等の維持、運営若しくは経営に協力若しくは関与する等、反社会的勢力等との何らかの交流若しくは関与を行っていると当社が判断した場合<br>
      (7) 本サービスの運営、保守管理上必要であると当社が判断した場合<br>
      (8) その他前各号に類する事由があると当社が判断した場合<br>
      
      2. ユーザーは、利用停止等の後も、当社及び第三者に対する本利用契約上の一切の義務及び債務（損害賠償債務を含みますが、これに限りません。）を免れるものではありません。<br>
      3. ユーザーは、これらの違反行為を行うことにより当社に損害を与えた場合は、当社が当該利用者に対して損害賠償を請求する権利を有することを認めます。<br>
      4. 当社は本条に基づき当社が行った行為によりユーザーに生じた損害について一切の責任を負わず、ユーザーのアカウント削除後も、当該ユーザーが当社に提供した情報を保有・利用することが出来るものとします。<br>
      5. 当社は、ユーザーが第1項各号に該当し又は該当するおそれがあると当社が判断した場合その他当社が必要と認める場合には、ユーザーに対し、違反行為の中止、送信又は投稿した情報の自発的な削除・訂正等を求めることがあり、ユーザーは、当社が定める期間内に当該求めに応じるものとします。<br>
      6. 当社は、本条に基づき当社が行った措置によりユーザーに生じた不利益や損害について一切の責任を負いません。当社がアカウント削除を伴う本利用契約の削除を選択した場合、解除の通知を行った時点で当該ユーザーの参加イベントはすべて失効し、これに対する返金等は行いません。アカウント削除後は、本サービスの機能を利用することができません。<br>
    </div>
    <div class="bold mt-3">【第18条 違法、規約違反ユーザーの通報】</div>
    <div class="medium mt-1">
      1. ユーザーは、他のユーザーが本規約に違反している若しくはユーザーコンテンツが自己又は第三者の権利を侵害していると判断した場合には、当社所定の方法に従い、当社に通報することができます。<br>
      2. 当社は、前項の通報を受けた場合、当社の判断で、当該通報の内容の確認を行い、通報の対象となったユーザーに対して、警告の通知を発し、又は通知等を行うことなく、ユーザーコンテンツの削除、その他一部若しくは全部のサービスの利用を停止する措置を講じることができるものとします。<br>
      3. 前項の場合で当社が1回警告を行ったにもかかわらず、同様の違法行為若しくは本規約違反行為を繰り返した場合には、当社は、当社の裁量により、当該ユーザーのアカウントを削除する措置を講じることができるものとします。アカウント削除後は、本サービスの機能を利用することができません。<br>
      4. 前項の規定にかかわらず、本利用規約違反が極めて悪質であると、当社で判断した場合には、何ら警告も行わず、当社は、当社の裁量により、当該ユーザーのアカウントを削除する措置を講じることができるものとします。アカウント削除後は、本サービスの機能を利用することができません。<br>
      5. 本条項により、当社がユーザーからの通報に対して、対応する義務を負うものではありません。<br>
    </div>
    <div class="bold mt-3">【第19条 秘密保持】</div>
    <div class="medium mt-1">
      1. ユーザーは、本サービスに関連して、秘密であると指定した情報については、第三者に開示を行ってはいけません。但し、当社が事前に承諾した場合は除きます。<br>
      2. ユーザーは、当社から求められた場合はいつでも、当社の指示に従い、遅滞なく、前項の情報及び当該情報を記載又は記録した書面その他の記録媒体物並びにそのすべての複製物等を返却又は廃棄しなければなりません。
    </div>
    <div class="bold mt-3">【第20条 損害賠償の制限】</div>
    <div class="medium mt-1">
      1. ユーザーは、ユーザーによる本規約違反、若しくは本サービスの利用（本サービスの機能やサービス利用自体だけではなく、本サービスを通して知り合った他のユーザーとのコミュニケーション等本サービスに起因した行為も含みます。）に起因して当社が直接又は間接的に生じた損害（当社が第三者から損害賠償請求その他の請求を受けた場合も含みます。）について、すべての損害（弁護士等専門家費用及び当社において対応に要した人件費相当額を含みます。）を賠償しなければなりません。<br>
      2. 本サービスの利用に関連してユーザーが被った損害につき、当社は、軽度の過失による債務不履行責任又は不法行為責任を負う場合には、金1万円の限度で責任を負うものとし、特別な事情から生じた損害については責任を負わないものとします。
    </div>
    <div class="bold mt-3">【第21条 保証の否認及び免責】</div>
    <div class="medium mt-1">
      1. 当社は、本サービス及び本サービスを通じて提供されるコンテンツその他一切の情報について、エラー、バグ、不具合又はセキュリティ上の欠陥が存しないこと、第三者の権利を侵害しないこと、ユーザーが期待する性質及び商品的価値を有すること、並びにユーザーに適用のある法令又は内部規則等に適合することについて、いかなる保証も行うものではありません。<br>
      2. 当社は、本サービスがすべての情報端末に対応していることを保証するものではなく、本サービスの利用に供する情報端末のOSのバージョンアップ等に伴い、本サービスの動作に不具合が生じる可能性あることにつき、ユーザーはあらかじめ了承するものとします。当社は、かかる不具合が生じた場合に当社が行うプログラムの修正等により、当該不具合が解消されることを保証するものではありません。<br>
      3. 当社は、本サービス内に掲載される飲食店の情報、ユーザー登録情報の正確性を保つための運用を、当社の判断で行います。但し、当社が、これらの情報の正確性について保証するものではありません。<br>
      4. 本サービスに関し、ユーザー間又はユーザーと第三者との間で紛争が生じた場合、ユーザーは、当社にこれを通知の上、自己の責任と費用において解決するものとします。当社は当該紛争に関与する義務を負うものではなく、また何ら責任を負わないものとします。<br>
    </div>
    <div class="bold mt-3">【第22条 外部サービスの利用】</div>
    <div class="medium mt-1">
      1. ユーザーは、本サービスの利用にあたり、Facebook、Twitter、その他の外部サービス等を利用する場合には、本規約のほか、当該外部サービスの定める利用規約その他の条件（当該利用違約等が変更された場合には変更後の条件を含みます。）に従うものとします。<br>
      2. 外部サービスについては、当該外部サービスを提供する企業又は個人が責任を負うものとし、当社は当該外部サービスにつき、エラー、バグ、不具合又はセキュリティ上の欠陥が存しないこと、第三者の権利を侵害しないこと、ユーザーが期待する性質及び商品的価値を有すること、並びにユーザーに適用のある法令又は内部規則等に適合することについて、いかなる保証をするものでもありません。
    </div>
    <div class="bold mt-3">【第23条 連絡方法】</div>
    <div class="medium mt-1">
      1. 本サービスに関する当社からユーザーへの連絡は、本サービス上若しくは当社が運営するウェブサイト内の適宜の場所への掲示、電子メールの送信、又はプッシュ通知その他当社が適当と判断する方法により行うものとします。<br>
      2. 当社が、本利用契約の権利・義務に関する事項について、電子メールの送信による通知を行った場合、当社からの通知は、ユーザーが登録したメールアドレスにメールを送信することをもって、当該メールが通常到達すべき時に到達したものとみなします。<br>
      3. 本サービスに関する問い合わせその他ユーザーから当社に対する連絡又は通知は、当社が運営するウェブサイト内の適宜の場所に設置するお問い合わせフォームの送信その他当社が指定する方法により行うものとします。
    </div>
    <div class="bold mt-3">【第24条 本サービスの変更・中断・終了等】</div>
    <div class="medium mt-1">
      1. 当社は、ユーザーに事前に通知することなく、本サービスの内容の全部又は一部を変更又は追加することができるものとします。<br>
      2. 当社は、事前に、本サービス上又は当社の運営するウェブサイト上への掲示その他の当社の当社が適当と認める方法でユーザーに90日前までに通知することにより、当社の裁量で、本サービスの提供を終了することができる。
      3. 当社は、以下の各号の事由が生じた場合には、ユーザーに事前に通知することなく、本サービスの全部又は一部を一時出来に中断することができます。<br>
      (1) 本サービス用の通信機器設備等に係るメンテナンスや修理を定期的又は緊急に行う場合<br>
      (2) アクセス過多、その他予期せぬ要因でシステムに負荷が集中した場合<br>
      (3) ユーザーのセキュリティを確保する必要が生じた場合<br>
      (4) 電気通信事業者の役務が提供されない場合<br>
      (5) 地震、水害等の天災、火災、停電、その他の不慮の事故又は戦争、紛争、動乱、暴動、労働争議等の不可抗力により本サービスの提供が困難となった場合<br>
      (6) 法令またこれに基づく措置により本サービスの運営が不能となった場合<br>
      (7) その他前各号に準じ当社が必要と判断した場合<br>
      4. 当社は、本条に基づき当社が行った措置によりユーザーに生じた損害について一切の責任を負いません。<br>
      5. 本条項によりサービスが終了した場合であっても、同サービス提供期間内に成立したイベントにつきキャンセル等が発生した場合の徴収については、引き続き行うものとします。
    </div>
    <div class="bold mt-3">【第25条 権利義務の譲渡禁止】</div>
    <div class="medium mt-1">
      ユーザーは、当社の書面による事前の承諾がある場合を除き、本利用契約に基づくユーザーの権利若しくは義務、又は本利用契約上の地位について、第三者への譲渡、承継、担保設定、その他一切の処分をすることはできません。
    </div>
    <div class="bold mt-3">【第26条 事業譲渡】</div>
    <div class="medium mt-1">
      当社が、本サービス若しくは本サービスに関する事業を第三者に譲渡し、又は合併若しくは会社分割等により本サービスに係る事業を承継させたときは、当社は、当該譲渡等に伴い、本利用契約上の地位、権利及び義務並びにユーザー登録情報その他のユーザー情報を当該譲渡等の譲受人等に承継させることができるものとします。ユーザーは、このような譲渡等につき本条においてあらかじめこれに同意したものとみなします。
    </div>
    <div class="bold mt-3">【第27条 分離可能性】</div>
    <div class="medium mt-1">
      1. 本規約のいずれかの条項又はその一部が無効または執行不能と判断された場合であっても、当該判断は他の部分に影響を及ぼさず、本規約の残りの部分は、引き続き有効かつ執行力を有するものとします。当社及びユーザーは、当該無効若しくは執行不能とされた条項又は部分の趣旨に従い、これと同等の効果を確保できるように努めるとともに、修正された本規約に拘束されることに同意するものとします。<br>
      2. 本規約のいずれかの条項又はその一部が、あるユーザーとの関係で無効又は執行不能と判断された場合であっても、他のユーザーとの関係における有効性等には影響を及ぼさないものとします。
    </div>
    <div class="bold mt-3">【第28条 準拠法及び管轄】</div>
    <div class="medium mt-1">
      1. 本利用契約は日本法に準拠し、解釈されるものとします。<br>
      2. ユーザーと当社との間で、本利用契約に関して紛争が生じた場合、東京地方裁判所を第一審の専属的合意管轄裁判所とします。
    </div>
    <div class="text-right mt-3">
    制定 2021年6月6日
    </div>

  </div>
  