/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require jquery-ui
 *= require jquery.tagit
 *= require tagit.ui-zendesk
 *= require_self
 */


body{
  font-family: "メイリオ","Meiryo","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック",sans-serif; 
  overflow-x: hidden;
}

.container-fluid {
  max-width: 1340px;
}

.container-middle {
  max-width: 1000px;
}

a {color:black; text-decoration:none }
a:hover {
    text-decoration: none;
    color: coral;
}
.a a{
color: hotpink;  
}
.a a:hover{
color: pink;  
}
.link1 a{
  color: coral;
}
.link1 a:hover{
  color: aqua;
}

h1 {
  font-size: 170%;
  font-weight: bold;
}
h2 {
  font-size: 150%;
  font-weight: bold;
  line-height: 1.4;
}
.gray {
  color: gray;
}
.bb {
  border-bottom: 5px solid #00FFFF;
}
.bb1 {
  border-bottom: 5px solid #FFFF66;
}
.bb2 {
  border-bottom: 7px solid peachpuff;
}

.bold {
  font-weight: bold;
}

.medium {
  font-size: 15px;
}

.xsmall {
  font-size: 12px;
}
.xxsmall {
  font-size: 10px;
}

.web-flex {
  display: flex;
}

.web-mt-8 {
  margin-top: -8px;
}
.web-mt-15 {
  margin-top: -15px;
}

.row-0{ margin-left:0px;  margin-right:0px}
.row-0 >div{ padding-right:0px;  padding-left:0px}

.follow-btn {
  font-size: 11px;
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: orange;
  border: solid 1px orange;
  border-radius: 4px;
  font-weight: bold;
}

.follow-btn:active {
  /*押したとき*/
  border: solid 1px #CCFFFF;
}

input[type="radio"],input[type="checkbox"]{
  position: relative;
  top: 2px;
  margin-right: 1px;
  margin-left: 2px;
}

#result [class*="hidden-"] {display: none;}

/*------------------------------------------------------------------navbar-----*/
.nav-icon img {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  object-fit: cover;
}
.nav-image img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.btn-plan,
.btn-plan.disabled, .btn-plan:disabled {
  font-size: 14px;
  background-color: darkturquoise;
  border-color: darkturquoise;
  border-radius: 12px;
  height: 39px;
  padding-top: 0px;
  font-weight: bold;
  margin-top: 2px;
}
.btn-plan img {
  width: 22px;
  margin-right: 3px;
  padding-bottom: 3px;
}
.btn-search,
.btn-search.disabled, .btn-search:disabled {
  font-size: 14px;
  background-color: aqua;
  border-color: aqua;
  border-radius: 4px;
  height: 38px;
  padding-top: 7px;
}
.logo img{
  width: 170px;
}
/*---------------------------------------------------------------toppage-----*/
.top-postimage {

}
.top-postimage img {
  width: 100%;
  height: 130px;
  border-radius: 6%;
  object-fit: cover; 
  padding-left: 3px;
  padding-right: 3px;
}
.topimg img{
  width: 100%;
}

.top_index img {
  width: 30px;
  margin-right: 5px;
  padding-bottom: 4px;
}
.tag1 {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: white;
  background: pink;
  border: solid 1px pink;
  border-radius: 4px;
}
.tag1 a {
  color: white;
}
.tag2 {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: white;
  background: aqua;
  border: solid 1px aqua;
  border-radius: 4px;
}
.tag2 a {
  color: white;
}
.tag3 {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: white;
  background: dodgerblue;
  border: solid 1px dodgerblue;
  border-radius: 4px;
}
.tag2 a {
  color: white;
}
.categorytop img {
  width: 100%;
  height: 140px;
  border-radius: 30px;
}
.categorytop:hover img{
  opacity: 0.7;
}
.categorytop {
  position: relative;
}
.categorytop::before{
  border-radius: 30px;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
}
.categorytop p {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  font-weight: bold;
  color: white;
  font-size: 130%;
  white-space: nowrap
  }
  .category img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 6%;
  }
  .report {
    background-color: gray;
  }
  .poston {
    position: relative;
  }
  .poston p{
    position: absolute;
    top: 4px;
    left: 7px;
  }
  .poston2 {
    position: absolute;
    top: 4px;
    left: 7px;
  }
  .match {
    background-color: oldlace;
    margin-bottom: 0px;
  }
  .match img {
    width: 60%;
  }
/*------------------------------------------------------------------signup-----*/
.bg-gray {
  border-radius: 10px;
  background-color: #eeeeee;
  padding: 40px 40px 25px 40px;
}

/*--------------------------------------------------------ユーザーー詳細-----*/
.circle-image80 img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}
.circle-image150 img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}
.circle-image180 img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
}
.circle-image img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
}

.icon img {
  width: 2.8%;
  margin-right: 3px;
  padding-bottom: 4px;
}
.excellent {
  color: deeppink;
}
.good {
  color: orange;
}
.poor {
  color: blue;
}

/*--------------------------------------------------------マイページ-----*/
.mypage-ul {
	line-height: 2;
}
.news-title {
  color: white;
  background-color: lightpink;
  padding: 10px 0;
  margin: 0px 10px;
  border-radius: 10px 10px 0px 0px;
}
.news-body {
  padding: 10px 16px;
  margin: 0px 10px;
}

/*----------------------------------------------------------イベント投稿-----*/
.required {
  color: #E00;
 font-weight: bold; 
}

.post-submit-row {
  background-color: #99FFFF;
}
.post-submit {
  padding: 7px 15px 7px 15px;
  display: flex;
  justify-content: space-between;
}

.post-image img{
  width: 200px;
  height: 130px;
  object-fit: cover;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}

.destination_links a {
  color: white;
  font-size: 13px;
}

/*----------------------------------------------------------postshow-----*/
.ps-image img {
  width: 100%;
  height: 420px;
  object-fit: cover;
}
.d_container {
  border-radius: 10px;
  background-color: #eeeeee;
  padding: 10px 20px;
  line-height: 2;
}
.btn1 {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: deepskyblue;
  border: solid 1px deepskyblue;
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
  text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}
.btn1:active {
  border: solid 1px #03A9F4;
  box-shadow: none;
  text-shadow: none;
}
.btn2 {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #FF9933;
  border: solid 1px #FF9933;
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
  text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}
.btn2:active {
  border: solid 1px #03A9F4;
  box-shadow: none;
  text-shadow: none;
}
.btn3 {
  display: inline-block;
  width: 180px;
  text-align: center;
  font-size: 18px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 24px;
  border-radius: 4px;
  background-image: linear-gradient(-90deg, #FF006E, #FFD500);
  transition: .4s;
  background-size: 200%;
  height: 130%;
  line-height: 130%;
}
.btn3:hover {
  background-position: right center;
}

.flex-center {
  display: flex;
  justify-content: center;
}
.introduce {
  padding: 0.5em 1em;
  border: solid 3px pink;
  border-radius: 10px;
}
.introduce img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;  
}
.likeicon {
  color: hotpink;
}
.likeicon:hover {
  color: pink;
}
.likeiconed {
  color: red;
}
.likeiconed:hover {
  color: pink;
}
.end {
  padding: 0.5em 1em;
  border: solid 4px peachpuff;
  border-radius: 10px;
}
.lineicon {
  color: #00B900;
  font-size: 40px;
}
.twicon {
  color: #00acee;
  font-size: 40px;
}
.fbicon {
  color: #3C5A99;
  font-size: 40px;
}
.side-postimage img {
  width: 100%;
  height: 110px;
  border-radius: 3%;
  object-fit: cover; 
}
.side-postimage img:hover {
	opacity: 0.6 ;
}
.wrap-word {
  overflow-wrap: break-word;
  line-height: 1.5;
}
/*----------------------------------------------------------comment-----*/
.comment img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.comme {
  position: relative; 
  padding: 10px 16px 0.5px;
  border-radius: 12px;
  background: #d7ebfe;
  color: #5c98d4;
}
/*----------------------------------------------------------footer-----*/
footer {
  background-color: #300000;
}
footer a:hover{
}
.copy {
  background-color: white;
  color: gray;
}
.footer-menu {
  color: white;
}
.footer-menu a {
  color: white;
}
.social-icon{
}

.quitbg {
  background-color: #eeeeee;
  padding: 5px;
}
.faq {
  font-size: 120%;
  font-weight: bold;
  border-bottom: solid 6px aqua;
  line-height: 2;
}
/*--------------------------------------------------------------breadcrumbs-----*/
.breadcrumbs, .breadcrumbs a {
  color: gray;
}
.breadcrumbs a:hover {
  color: pink;
}