/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body{
  font-family: "メイリオ","Meiryo","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック",sans-serif; 
  overflow-x: hidden;
}

.container-fluid {
  max-width: 1340px;
}

.bold {
  font-weight: bold;
}

hr {
 height: 5px;
 background-color: coral;
 width: 100%;
 border: none;
}

.topimg img{
  width: 100%;
}

.top_index img {
  width: 30px;
  margin-right: 5px;
  padding-bottom: 4px;
}

/*------------------------------------------------------------------signup-----*/
.bg-gray {
  border-radius: 10px;
  background-color: #eeeeee;
  padding: 40px 40px 25px 40px;
}