<div class="container-fluid">
  <% breadcrumb :mypage %>
    <%= render "layouts/breadcrumbs" %>
  <div class="row mt-4">
    
    <div class="col-lg-3 col-sm-4 text-center">
      <%= render 'mypage/mypage_left' %>
    </div>

        
      
      <div class="col-lg-6 col-sm-8">
        <div class="bb"><h4><span class="bold">投稿したスケジュール一覧 　</span><span class="small bold"><%= @count_posts %> 件</span></h4></div>
      </div>
      
      <div class="col-lg-3 d-none d-lg-block">
      </div>


  </div>
</div>