<footer>
  <div class="container">
    
    <div class="text-center pt-4">
      <div class="text-white h5 bold">
        Cocomelo
      </div>
      
      <div class="social-icon">
        <span class="fa-stack fa-lg">
          <a href="/" rel="nofollow" target="_blank"><i class="fas fa-circle fa-stack-2x" style="color:white;"></i></a>
          <a href="/" rel="nofollow" target="_blank"><i class="fab fa-facebook-f fa-stack-1x", title="Cocomeloのfacebookページ", style="color:#300000;"></i></a>
        </span>
        <span class="fa-stack fa-lg">
          <a href="/" rel="nofollow" target="_blank"><i class="fas fa-circle fa-stack-2x" style="color:white;"></i></a>
          <a href="/" rel="nofollow" target="_blank"><i class="fab fa-instagram fa-stack-1x", title="Cocomeloのinstagram", style="color:#300000;"></i></a>
        </span>
        <span class="fa-stack fa-lg">
          <a href="/" rel="nofollow" target="_blank"><i class="fas fa-circle fa-stack-2x" style="color:white;"></i></a>
          <a href="/" rel="nofollow" target="_blank"><i class="fab fa-twitter fa-stack-1x", title="Cocomeloのtwitter", style="color:#300000;"></i></a>
        </span>
        <span class="fa-stack fa-lg">
          <a href="/" rel="nofollow" target="_blank"><i class="fas fa-circle fa-stack-2x" style="color:white;"></i></a>
          <a href="/" rel="nofollow" target="_blank"><i class="fab fa-line fa-stack-1x", title="CocomeloのLINE", style="color:#300000;"></i></a>
        </span>
        
      </div>
      
      <div class="footer-menu mt-3">
        <%= link_to "利用規約", login_path %>┃
        <%= link_to "プライバシーポリシー", login_path %>┃
        <%= link_to "よくある質問", login_path %>┃
        <%= link_to "お問い合わせ", contact_path %>
      </div>
      
    </div>
  </div>
      
  <div class="copy text-center xsmall mt-5 pt-1">
    ©Cocomelo. All rights researved.
  </div>
      
</footer>