<footer>
  <div class="container mt-5">
    
    <div class="text-center pt-4">
      <div class="text-white h5 bold">
        Sharingood
      </div>
      
      <div class="footer-menu mt-2">
        <%= link_to "利用規約", login_path %>┃
        <%= link_to "プライバシーポリシー", login_path %>┃
        <%= link_to "よくある質問", login_path %>┃
        <%= link_to "お問い合わせ", login_path %>
      </div>
      
    </div>
  </div>
      
  <div class="copy text-center xsmall mt-5 pt-1">
    ©Sharingood. All rights researved.
  </div>
      
</footer>